<% @user ||= current_user %>
<div class="stats">
  <a href="<%= followees_user_path(@user) %>">
    <strong id="followees" class="stat">
      <%= @user.followees.count %>
    </strong>
    followees
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>