<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'Users', users_path %></li>
    <li class="dropdown">
      <ul class="dropdown-menu">
        <li role="separator" class="divider"></li>
      </ul>
    </li>
    <li><%= link_to 'Signup', signup_path %></li>
  </ul>
</div>